body {
	height: 100%;
	font-family: Arial, sans-serif;
}

header {
	border-radius: 5px;
	height: auto;
	text-align: center;
	background-color: darkslategray;
	
}
#pop-up {
	text-align: center;
	background-color: #d6f5d6;
	color: black;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	height: auto;
}
#page-header {
	color: greenyellow;
	margin-bottom: 30px;
	padding: 10px;
	font-weight: bolder;
	font-size: 50px;
}
.use-inline {
	width: 20%;
	font-size: x-large;
	padding: 20px;
	margin: 5px;
	display: inline-block;
	border-radius: 5px;
	background-color: aqua;
}
.date {
	background-color: #f4a460;
	width: 12%;
	text-align: center;
}
.price {
	background-color: rgb(163, 103, 219);
	width: 13%;
	text-align: center;
}
.payee {
	width: 10%;
	text-align: center;
}
.header-color {
	background-color: black;
	color: white;
}
#add-button {
	padding: 15px;
	position: fixed;
	width: 12%;
	top: 120px;
	right: 50px;
	background-color: #a0ff00;
	float: right;
	border-radius: 5px;
	cursor: pointer;
	font-size: x-large;
	border: none;
}
.total {
	background-color: lightgreen;
}

.rahul {
	background-color: aquamarine;
}

.ramesh {
	background-color: #5f9ea0;
}

.payable {
	background-color: rgba(255, 0, 0, 0.63);
}
form {
	background-color: #d6f5d6;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	z-index: 1000;
}
.red {
	color: red;
}
form header {
	font-size: 18px;
	color: #6c757d;
	text-align: center;
	margin-bottom: 20px;
}

form article {
	margin-bottom: 20px;
}

form p {
	margin: 0;
	font-weight: bold;
	color: #333;
}

form input,
form select {
	box-sizing: border-box;
	width: 590px;
	padding: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

form button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #6c757d;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

form button[type="submit"] {
	background-color: #4caf50;
}

form button[type="submit"]:hover,
#add-button:hover {
	background-color: #45a049;
}

form button[type="button"]:hover {
	background-color: #a0a0a0;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}